.adapts {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  height: auto;
  padding: 0 35px;
  border-bottom: 10px solid #f8f8f8
}

.adapt {
  background-color: rgba(45, 45, 68, 0.2);;
  display: flex;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  min-height: 150px;

}

.adapt img {
  width: 150px;
  margin: auto;
  padding: 10px;
}

.text-adapt {
  padding: 30px 10px;
  flex-grow: 1;
  border-left: 5px solid #fff;
}

.text-adapt a{
  text-decoration: none;
  color: inherit;
}

.text-adapt a:hover {
  text-decoration: underline;
  color: #3527b6;
}

.table-adapt {
    background-color: #fff;
}

.table-adapt p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.add-adap {
  align-self: flex-end;
  margin-bottom: 10px;
}

.add-adap input {
  background-color: gray;
  color: black;
  font-size: 140%;
  border: none;
  /*background-color: rgba(45, 45, 68, 0.2);*/
  
  border-radius: 10px;
  padding: 5px 15px;
}

/*.add-adap input:hover {

  color: #fff;
  background-color: rgba(45, 45, 68, 1);
}*/
